{% extends "base_generic.html" %}

{% block content %}
    <h1>Competition page</h1>

    {% if competition %}
    <ul>
        <li>
            <strong>Title: {{ competition.title }}</strong><br>
            Date of start: {{ competition.date_of_start }}<br>
            Date of end: {{ competition.date_of_end }}
        </li>
    </ul>
    {% if sport_list %}
        <h2>Sports:</h2>
        <ul>
            {% for sport, stages in sport_list %}
                <li>
                    <a href="{% url 'sport' %}?id={{ sport.id }}">{{ sport.title }}</a>
                </li>
                {% if stages %}
                <h4>Stages:</h4>
                <ul>
                    {% for stage in stages %}
                        <li>
                            <a href="{% url 'stage' %}?id={{ stage.id }}">{{ stage.title }}</a>
                        </li>
                    {% endfor %}
                </ul><br><br>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no types of sport for now.</p>
    {% endif %}
    {% else %}
        <p>Competition not found.</p>
    {% endif %}
{% endblock %}